body{
    margin: 0;
}
.background{
    background-image: url("../background.jpg");
    height: 100vh;
    width: auto;
}
.principal-container{
    width: 24vw;
    height: fit-content;
    border: 2px outset rgba(151, 149, 149, 0.726);
    background-color: rgba(9, 9, 9, 0.90);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 4px inset rgba(124, 123, 123, 0.726);
    padding-bottom: .5rem;
    border-radius: 10px;
}
.casio{
    font-family: 'Times New Roman', Times, serif;
    color: azure;
    font-weight: bolder;
    font-size: large;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    width: 20vw;
    height: 4vh;
    margin: 10px auto 0px auto;

}
.result{
    font-family: "Calculator";
    width: 20vw;
    height: 5vh; 
    margin: 3vh auto 3vh auto;
    display: block;
    text-align: end;
    background-color:rgba(221, 219, 219, 0.855);
    font-size: x-large;
    padding: 1vw;
    box-shadow: 5px 5px 2px inset rgba(68, 67, 67, 0.65);
}
#temp-result{
    font-size: small;
    font-family: "Calculator";
}
.buttons-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 2vw;
    align-content: center;
    justify-content: center;
    width: 20vw;
    height: fit-content;
    margin: 3px auto;
    padding: 0.8vw;
    background-color:rgba(245, 238, 238, 0.3);
    box-shadow: 5px 5px 4px inset rgba(68, 67, 67, 0.65);
}
.button{
    width: 3.5vw;
    height: 2.5vw;
    background-color:rgba(221, 219, 219, 0.855);
    font-family: "Calculator";
    font-size: large;
    box-shadow: 3px 3px 3px rgba(68, 67, 67, 0.65);
    border-radius: 10px;
}
button:hover{
    cursor: pointer;
    background-color:rgba(68, 67, 67, 0.65);
    color: azure;
}